<hr/>

<h1 style="text-align: center;"> Serviços </h1>

<hr/>
<div>

<ngb-carousel  > 
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper " >
        <img src="https://picsum.photos/530/200?random=1" class="card-img-top" alt="...">
    </div>
      <div class="carousel-caption">
        <h3>Primeiros serviço</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://picsum.photos/530/200?random=2" class="card-img-top" alt="...">
    </div>
      <div class="carousel-caption">
        <h3>Segundo Serviço</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="https://picsum.photos/530/200?random=3" class="card-img-top" alt="...">
    </div>
      <div class="carousel-caption">
        <h3>Terceiro Serviço</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>